// About page styles.

$about-stroke-color: rgba(lighten($color-about, 20%), 0.3);

.about {
  margin-top: 50px;
  width: $alpha-width;

  .caption {
    color: black(0.9);
    @include text-shadow(0 1px white(0.7));
    position: absolute;
    top: 440px;
    left: 10px;
  }
}

.about-photo {
  position: relative;
  width: 300px;
  float: left;
}

.about-text {
  float: right;
  width: $alpha-width - 300px - 70px;

  .intro-paragraph {
    margin-left: 30px;
    line-height: 26px;
    position: relative;
    p { margin: 0 0 40px; }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 97px;
      left: -30px;
      width: 300px;
      height: 1px;
      @include background(linear-gradient(left, $about-stroke-color 0%, $about-stroke-color 70%, rgba($color-about, 0.0) 90%));
      @include box-shadow(0 0 3px white(0.2));
    }
  }

  .six-questions {
    margin-left: 30px;
    margin-top: 80px;
    dt {
      font-weight: 500;
      float: left;
      clear: left;
      letter-spacing: 1px;
      width: 80px;
      color: white(0.6);
    }
    dd {
      margin: 0 0 25px 80px;
    }
    a {
      text-decoration: none;
      color: #eee;
      border-bottom: 1px solid rgba(#eee, 0.4);
      padding-bottom: 2px;
    }
  }
}
