// Article page styles.

.articles {
  .year-navigator {
    list-style: none;
    margin: 0 0 50px;
    padding: 0;
    @include clearfix();
  }

  .year {
    float: left;
    margin-right: 40px;
  }

  .title-year {
    font-family: $font-titles;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    color: white(0.7);
    text-decoration: none;
  }
}
