// Config variables.

$site-width: 960px;

$color-prim: #859FB8;
$color-sec: #C0AD6B;
$color-ter: #ADDECC;

$color-home: #A60000;
$color-articles: #A64B00;
$color-archives: #006363;
$color-about: #008500;

$font-titles: "Lato", Arial, sans-serif;
