$post-width: 240px;
$post-height: 200px;
$post-padding-x: 15px;
$post-padding-y: 15px;

ul.posts-list {
  list-style: none;
  padding: 0;

  a.post-box {
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: $post-width;
    height: $post-height;
    vertical-align: top;

    @include border-radius(8px);
    border: 1px solid rgba($color-sec, 0.6);
    background-color: black(0.4);
    @include box-shadow(0 0 4px white(0.5));

    &:hover, &:active {
      @include box-shadow(0 0 8px white(0.6));
      .post-box-inner { @include box-shadow(inset 0 0 10px black(0.7)); }
    }
    &:active {
      border-width: 2px;
      .post-box-inner { margin: $post-padding-y - 1 $post-padding-x - 1; }
    }
  }

  .post-box-outer {
    display: inline-block;
    margin: -30px 55px 0 0;
    &:first-of-type {
      .post-box {
        width: $post-width + 60px;
        .post-box-inner { width: $post-width - $post-padding-x * 2 + 60px; }
      }
    }
    &:last-of-type { margin-right: 0; }
  }

  .post-box-inner {
    margin: $post-padding-y $post-padding-x;
    width: $post-width - $post-padding-x * 2;
    height: $post-height - $post-padding-y * 2;
    overflow: hidden;
    border: 1px solid white(0.1);
    border-top: none;
    @include box-shadow(inset 0 0 10px black(0.5));
    @include border-radius(4px);
  }

  .post-date {
    position: absolute;
    top: 10px;
    left: $post-padding-x;
    font-size: 12px;
    font-weight: 300;
    color: white(0.8);
    @include letterpress-black(0.7);
    font-family: $font-monospaced;
    &:after {
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      top: 17px;
      left: 5px;
      background-color: white(0.8);
      @include border-radius(5px);
      content: "";
      @include box-shadow(0 0 2px white(0.4));
    }
  }

  .post-title {
    vertical-align: top;
    overflow: hidden;
    margin: 30px 0 10px;
    padding: 0 10px;
    color: white(0.8);
    font-size: 18px;
    font-weight: 400;
    @include letterpress-black(0.8);
  }

  .post-excerpt {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    color: rgb(164, 164, 164);
    p {
      margin: 8px 0;
    }
  }
}
