// Sidebar styles.

#beta {
  h3 {
    color: white(0.5);
    @include letterpress(0.5);
    font-family: $font-titles;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 300;
    &.title-additional {
      @include letterpress(0.2);
    }
  }

  .title-separator {
    height: 15px;
    top: 1px;
    margin: 0 5px;
  }
}

// Spine fade-in animation.
#beta {
  .section-title-animated {
    position: relative;
    display: block;
    float: left;

    .title-separator, .title-additional {
      @include transition-property(opacity left top);
      @include transition-duration(0.3s, 0.3s, 0.3s);
      @include transition-timing-function(linear, linear, linear);
      @include opacity(0);
      position: absolute;
    }
    .title-separator {
      top: 20px;
    }
    .title-additional {
      padding-left: 20px;
      left: 80px;
    }
  }

  .section-title {
    @include clearfix();
    cursor: pointer;
    display: block;

    .title-main {
      float: left;
      display: block;
      width: 100px;
    }

    &:hover, &.active {
      .section-title-animated {
        .title-separator, .title-additional {
          @include opacity(1);
        }
        .title-separator { top: 5px; }
        .title-additional { left: 0; }
      }
    }
    &.active {
      .title-separator, .title-additional {
        @include transition-duration(0, 0, 0);
      }
    }
  }
}

@mixin social-icon-content-color($name, $content, $color) {
  a.#{$name} {
    &:before { content: $content; }
    &:hover, &:active {
      color: rgba($color, 0.8);
      span { color: rgba($color, 0.8); }
    }
    &:active {
      color: rgba($color, 0.6);
      span { color: rgba($color, 0.6); }
    }
  }
}

#beta {
  .social-list {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    .social-icon {
      margin: 0 0 5px;

      a {
        color: white(0.7);
        @include letterpress-black(0.4);
        text-decoration: none;
        position: relative;
        &:before {
          font: 130%/1.35 zocial;
          font-style: normal;
          font-weight: normal;
          display: inline-block;
        }
        span {
          color: white(0.6);
          display: block;
          text-align: center;
          position: absolute;
          text-transform: lowercase;
          top: -2px;
          left: 0;
          padding-left: 60px;
        }
      }
      @include social-icon-content-color("twitter", "T", $color-twitter);
      @include social-icon-content-color("googleplus", "+", $color-googleplus);
      @include social-icon-content-color("linkedin", "L", $color-linkedin);
      @include social-icon-content-color("quora", "q", $color-quora);
      @include social-icon-content-color("github", "\00E8", $color-github);
    }
  }
}
